
@{
    ViewBag.Title = "首页";
}

<div class="site-banner">
    <div class="site-banner-bg" >
    </div>
    <div class="site-banner-main">
        <div class="site-zfj">
            <i class="layui-icon" style="color: #fff; color: rgba(255,255,255,.7);">&#xe609;</i>
        </div>
        <div class="layui-anim site-desc">
            <p class="web-font-desc">经典模块化前端框架</p>
            <cite>由职业前端倾情打造，面向所有层次的前后端开发者，零门槛开箱即用的前端UI解决方案</cite>
        </div>
        <div class="site-download">
            <a href="#" class="layui-inline site-down" target="_blank">
                <cite class="layui-icon">&#xe601;</cite>
                立即下载
            </a>
        </div>
      
        <div class="site-banner-other">
            <a href="#"  target="_blank" class="site-star">
                <i class="layui-icon">&#xe658;</i>
                Star <cite id="getStars"></cite>
            </a>
            <a href="#"  target="_blank" rel="nofollow" class="site-fork">
                <i class="layui-icon">&#xe62e;</i>
                Fork
            </a>
            <a href="#"  target="_blank" rel="nofollow" class="site-fork">
                码云
            </a>
        </div>
    </div>
</div>
<div class="layui-main">



    <ul class="site-idea">
        <li>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>返璞归真</legend>
                <p>身处在前端社区的繁荣之下，我们都在有意或无意地追逐。而 layui 偏偏回望当初，奔赴在返璞归真的漫漫征途，自信并勇敢着，追寻于原生态的书写指令，试图以最简单的方式诠释高效。</p>
            </fieldset>
        </li>
        <li>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>双面体验</legend>
                <p>拥有双面的不仅是人生，还有 layui。一面极简，一面丰盈。极简是视觉所见的外在，是开发所念的简易。丰盈是倾情雕琢的内在，是信手拈来的承诺。一切本应如此，简而全，双重体验。</p>
            </fieldset>
        </li>
        <li>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>星辰大海</legend>
                <p>如果眼下还是一团零星之火，那运筹帷幄之后，迎面东风，就是一场烈焰燎原吧，那必定会是一番尽情的燃烧。待，秋风萧瑟时，散作满天星辰，你看那四季轮回<!--海天相接-->，正是 layui 不灭的执念。</p>
            </fieldset>
        </li>
    </ul>

</div>
<div class="layui-footer footer footer-index">
    <div class="layui-main">
        <p>&copy; 2019 <a href="/">layui.com</a> MIT license</p>
       
      
    </div>
</div>
<div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>

<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>

