@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    Html.RenderPartial("_PartialNav", new LS.Project.Areas.System.Models.NavModel { NavTitle = "首页", NavSubTitle = "系统管理", ThreeTitle = "角色管理" });
}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">

                <div class="layui-card-header">
                    <div class="layui-row">
                        <div class="layui-col-md9">
                            <button class="layui-btn" onclick="xadmin.open('添加角色','/System/Role/CreateRole',800,600)"><i class="layui-icon">&#xe608;</i>添加角色</button>
                        </div>
                        <div class="layui-col-md3" style="text-align:right;">
                            <div class="layui-inline">
                                <input type="text" name="rolename" id="rolename" placeholder="请输入角色名称" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn" lay-filter="sreach" id="sreach"><i class="layui-icon">&#xe615;</i></button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="sysrolelist" lay-filter="sysrolelist"></table>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- 操作列 -->
<script type="text/html" id="auth-state">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use(['table', 'form'], function () {
        var $ = layui.jquery;
        var table = layui.table;

        var reload = function () {

        }
        // 渲染表格
        layer.load(2);
        table.render({
            elem: '#sysrolelist',
            id: "sysrolelist_data",
            url: '/System/Role/GetAllRole',
            page: false,
            cols: [[
                { type: 'checkbox', width: '5%' },
                { field: 'name', width: '20%', title: '角色名称' },
                { field: 'roleCode', width: '15%', title: '角色代码' },
                { field: 'roleSeq', width: '22%', title: '排序' },
                { field: 'description', width: '25%', title: '备注' },
                { templet: '#auth-state', align: 'center', title: '操作' }
            ]],
            done: function () {
                layer.closeAll('loading');
            }
        });
        //监听行工具事件
        table.on('tool(sysrolelist)', function (obj) {
            var data = obj.data;
            if (obj.event == 'del') {
                layer.confirm('确认删除行吗？', function (index) {
                    //obj.del();
                    lscom.Ajax({
                        url: "/System/Role/DelRole",
                        data: { id: 100 },
                        success: function (data) {
                            lscom.successSelfCallback(layer, data, reload);
                        }
                    });
                    layer.close(index);
                });
            } else if (obj.event == 'edit') {
                xadmin.open('编辑菜单', '/System/Role/EditRole?id=' + data.id, 800, 600);
            }
        });

        $('#sreach').on("click", function () {
            reload();
        });
        function reload() {
            table.reload('sysrolelist_data', {
                where: {
                    'rolename': $("#rolename").val()
                }
            });
        }
    });
</script>
