@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>无效的响应</title>
    <link href="@Url.Content("~/Content/customerror.css")" rel="stylesheet" />
</head>
<body>
    <div class="cuserror">
        <div class="boxcontent">
            <img src="@Url.Content("~/Content/images/Error502.png")" />
            <div class="msg">服务器无响应，请尝试重新刷新。～</div>
        </div>
        </div>
</body>
</html>
