@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Other</title>
    <link href="@Url.Content("~/Content/customerror.css")" rel="stylesheet" />
</head>
<body>
    <div class="cuserror">
        <div class="boxcontent">
            <img src="@Url.Content("~/Content/images/otherError.png")" />
            <div class="msg">您没有权限访问～</div>
        </div>
    </div>
</body>
</html>
