
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
    <link href="@Url.Content("~/Content/customerror.css")" rel="stylesheet" />
</head>
<body>
    <div class="cuserror">
        <div class="boxcontent">
            <img src="@Url.Content("~/Content/images/Error404.png")" />
            <div class="msg">亲来晚了。页面找不到了 ～</div>
        </div>
        </div>
</body>
</html>
