@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>服务器内部错误</title>
    <link href="@Url.Content("~/Content/customerror.css")" rel="stylesheet" />
</head>
<body>
 
        <div class="cuserror">
            <div  class="boxcontent">
                <img src="@Url.Content("~/Content/images/Eror500.png")" />
                <div class="msg">服务出问题了，工程师抢修中 ～</div>
            </div>
            
        </div>
  
</body>
</html>
