<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link rel="stylesheet" href="/Content/css/font.css">
    <link rel="stylesheet" href="/Content/css/xadmin.css">
    <script src="/Scripts/jquery.min.js"></script>
    <script src="/Content/layui/layui.js" charset="utf-8"></script>
    <script src="/Scripts/xadmin.js" charset="utf-8"></script>
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/Scripts/common.js" charset="utf-8"></script>
    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
