 html, body {
            height: 100%;
        }
        body{ margin:0} 
.cuserror{
      background-color:#f8f8f8;text-align:center ; 
      height:99%;
  }
.cuserror .boxcontent{
       position:absolute ;
       left:50%;
       top:50%;
       margin-left:-300px;
       margin-top:-200px;
}
  .cuserror .msg{
      color:#808080;font-size:14px;
  }
