<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DbConnection" connectionString="Server=.;uid=sa;pwd=sulin888;Database=LSProject;" providerName="SqlServer"/>
  <add name="MYSQL_LOG" connectionString="Database=my_log;Data Source=localhost;User Id=root;Password=sulin***;CharSet=utf8;port=3306;" providerName="MySql"/>
</connectionStrings>